"*":
  core:
    excludeVcsIgnoredPaths: false
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontSize: 15
    fontFamily: "Fira Code"
    softWrap: true
    invisibles: {}
  "exception-reporting":
    userId: "9e978bea-462d-9bd4-0066-3ab32b0630ba"
  linter:
    showErrorPanel: false
  "linter-eslint":
    disableWhenNoEslintConfig: false
    eslintrcPath: "/Users/rfviolato/.eslintrc"
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
