packages: [
  'advanced-open-file',
  'atom-beautify',
  'autocomplete-modules',
  'autocomplete-paths',
  'autoupdate-packages',
  'autocomplete-html',
  'editorconfig',
  'file-icons',
  'git-time-machine',
  'highlight-selected',
  'improved-chester-atom-syntax',
  'language-babel',
  'language-jsx',
  'language-javascript-jsx',
  'language-html',
  'language-postcss',
  'linter',
  'linter-eslint',
  'linter-jsonlint',
  'linter-htmlhint',
  'markdown-folder',
  'markdown-writer',
  'merge-conflicts',
  'minimap',
  'react',
  'react-snippets'
  'minimap-git-diff',
  'minimap-linter',
  'organized',
  'package-sync',
  'pigments',
  'sort-lines',
  'typewriter',
  'css-color-underline',
  'css-snippets',
  'emmet',
]
